@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    /* COLOR */

    --primary-color: #00ff88;
    --heading-color: #ffffff;
    --text-color: #ffffff;
    --badge-text-color: #1a0b2e;
    --bg-color: #1a0b2e;
    --tech-wave-sec-bg-color: #230e3d;
    --card-bg-color: rgba(53, 17, 101, 0.4);

    /* TEXT SIZE */

    --banner-heading-size: 3.75rem;
    --other-heading-size: 3rem;
    --banner-text-size: 1.125rem;
}

/* NAVBAR RELATED STYLE */

.header-section {
    background-color: var(--bg-color);
    padding-block: 1.875rem;
}
.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-menu {
    list-style: none;
    display: flex;
}
.main-menu li {
    margin-right: 1.25rem;
}
.main-menu li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}
.navbar .hamburger-icon {
    display: none;
}
.navbar .nav-btn {
    background: linear-gradient(90deg, rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)); 
    font-weight: 600;
    padding: 0.75rem 1rem ;
    border-radius: 30px;
    color: var(--text-color);
    font-size: 16px;
    border:none;
}
.fa-arrow-right {
    margin-left: 8px;
}

/* BANNER SECTION RELATED STYLE */

.banner-container {
    width: 100%;
    height: 100%;
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding-top: 6.3125rem;
    padding-bottom: 6.3125rem;
}
.content-container {
    position: relative;
    text-align: center;
}
.circle-img>img {
    width: 22%;
}
.mic-img {
    position: absolute;
    top: 28%;
    left: 47%;
}
.badge-text {
    width: 4.6875rem;
    height: 2.375rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    background-color: var(--primary-color);
    box-shadow: 0 3px 27px rgba(0, 255, 136, 0.5);
    color: var(--badge-text-color);
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 3%;
    left: 55%;
}
.banner-title {
    font-size: var(--banner-heading-size);
    font-weight: 800;
    color: var(--heading-color);
    margin-top: 2.5rem;
}
.banner-description {
    font-size: 1rem;
    color: var(--text-color);
    margin-top: 0.5rem;
}
.btn-container {
    margin-top: 1.5rem;
}
.spotify {
    background: linear-gradient(47deg, rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1));
    padding: 0.75rem 1.25rem;
    border:none;
    border-radius: 50px;
    font-size: 1rem;
    color: var(--text-color);
    margin-right: 0.5rem;
}
.fa-spotify {
    margin-right: 0.5rem;
}
.subscribe {
    background-color: transparent;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    color: var(--primary-color);
}
.fa-envelope {
     margin-right: 0.5rem;
}
