@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #ffffff;            
}

:root {
    /* COLOR */

    --primary-color: #00ff88;
    --heading-color: #ffffff;
    --text-color: #ffffff;
    --badge-text-color: #1a0b2e;
    --bg-color: #1a0b2e;
    --tech-wave-sec-bg-color: #230e3d;
    --card-bg-color: rgba(53, 17, 101, 0.4);

    /* TEXT SIZE */

    --banner-heading-size: 3.75rem;
    --other-heading-size: 3rem;
    --banner-text-size: 1.125rem;
    --card-heading-size: 1.5rem;
}

.hide {
    display: none;
}

/* NAVBAR RELATED STYLE */

.header-section {
    background-color: var(--bg-color);
    padding-block: 1.875rem;
    border-bottom: 1px solid #78788528;
}
.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-menu {
    list-style: none;
    display: flex;
}
.main-menu li {
    margin-right: 1.25rem;
}
.main-menu li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
}
.navbar .hamburger-icon {
    display: none;
}
.navbar .nav-btn {
    background: linear-gradient(90deg, rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)); 
    font-weight: 600;
    padding: 0.75rem 1rem ;
    border-radius: 30px;
    color: var(--text-color);
    font-size: 16px;
    border:none;
}
.fa-arrow-right {
    margin-left: 8px;
}

/* BANNER SECTION RELATED STYLE */

.banner-container {
    width: 100%;
    height: 100%;
    background-image: url('../assets/hero-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding-top: 6.3125rem;
    padding-bottom: 6.3125rem;
}
.content-container {
    position: relative;
    text-align: center;
}
.circle-img>img {
    width: 22%;
}
.mic-img {
    position: absolute;
    /* top: 28%;
    left: 47%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.badge-text {
    width: 4.6875rem;
    height: 2.375rem;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    background-color: var(--primary-color);
    box-shadow: 0 3px 27px rgba(0, 255, 136, 0.5);
    color: var(--badge-text-color);
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 3%;
    left: 55%;
}
.banner-title {
    font-size: var(--banner-heading-size);
    font-weight: 800;
    color: var(--heading-color);
    margin-top: 2.5rem;
}
.banner-description {
    font-size: 1rem;
    color: var(--text-color);
    margin-top: 0.5rem;
}
.btn-container {
    margin-top: 1.5rem;
}
.spotify-btn {
    background: linear-gradient(47deg, rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1));
    padding: 0.875rem 1.5rem;
    border: 2px solid #ffffff;
    border-radius: 50px;
    font-size: 1rem;
    color: var(--text-color);
    margin-right: 0.875rem;
}
.fa-spotify {
    margin-right: 0.5rem;
}
.subscribe-btn {
    background-color: transparent;
    padding: 0.875rem 1.5rem;
    font-size: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    color: var(--primary-color);
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: background-color 0.3s ease-in;
}
.subscribe-btn::before {
    content: '';
    width: 150%;
    height: 100%;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: -1.5rem;
    border-radius: 50px;
    z-index: -1;
    transform: translateY(100%);
    opacity: 0;
    transition: all 0.3s ease-in;
}
.subscribe-btn:hover::before {
    transform: translateY(50%);
    opacity: 1;
}
.subscribe-btn::after {
    content: '';
    width: 150%;
    height: 100%;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: -1.5rem;
    border-radius: 50px;
    z-index: -1;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.3s ease-in;
}
.subscribe-btn:hover::after {
    transform: translateY(-50%);
    opacity: 1;
}
.subscribe-btn:hover {
    color: var(--text-color);
    border: 2px solid #ffffff;
}
.fa-envelope {
    margin-right: 0.5rem;
    color: var(--primary-color);
}
.subscribe-btn:hover .fa-envelope {
    color: var(--text-color);
}

/* ABOUT SECTION RELATED STYLE */

.about-section {
    background-color: var(--bg-color);
}
.about-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.about-title {
    font-size: var(--other-heading-size);
    font-weight: bold;
    padding-top: 3.125rem;
    margin-bottom: 1rem;
}
.about-description{
    font-size: 1rem;
    line-height: 1.25rem;
    padding-inline: 14.375rem;
    margin-bottom: 5rem; 
}
.horizontal-row {
    width: 100%;
    border: 1px solid #78788528;
}
.counter-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7.5rem;
    align-items: center;
    padding-top: 5rem;
}
.counter-title {
    font-size: var(--other-heading-size);
    font-weight: 800;
    color: var(--primary-color);
    margin-bottom: 1rem; 
}
.counter-description {
    font-size: 1rem;
    text-transform: uppercase;
}

/* TECH WAVE SECTION RELATED STYLE */

.techwave-section {
    background-color: var(--tech-wave-sec-bg-color);
    padding-block: 120px;
}
.techwave-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.techwave-title {
    font-size: var(--other-heading-size);
    font-weight: bold;
    margin-bottom: 2.5rem;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    gap: 1.875rem;
}
.card {
    background-color: var(--card-bg-color);
    padding: 2.5rem;
    border-radius: 2.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    overflow: hidden;    
}
.card::before {
    content: "";
    width: 130%;
    height: 130%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(45deg, 
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1));
    border-radius: 2.5rem;
    animation: round-moving 3s linear infinite;
}
.card::after {
    content: "";
    position: absolute;
    border-radius: 2.5rem;
    background-color: #230e3d;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px
}
@keyframes round-moving {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}
.card>img {
    margin-bottom: 1rem;
    z-index: 1;
}
.card-title {
    font-size: var(--card-heading-size);
    margin-bottom: 1rem;
    z-index: 1;
}
.card-description {
    z-index: 1;
}
.audio {
    grid-row: 1 / 3;
    justify-content: center;
}
.mobile {
    grid-column: 2 / 4;
}
.global {
    grid-column: 2 / 4;
}
.interview {
    grid-column: 1 / 3;
}

/* FEATURE SECTION RELATED STYLE */

.feature-section {
    background-color: var(--bg-color);
    padding-block: 120px;
}
.feature-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.feature-title {
    font-size: var(--other-heading-size);
    font-weight: bold;
    margin-bottom: 2.5rem;
}
.video-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.875rem;
    
}
.video-thumb {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem; 
    display:block;
}
.video-content {
    background-color: var(--card-bg-color);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding: 1.5rem; 
    text-align: left;
}
.video-title {
    font-size: var(--card-heading-size);
    font-weight: bold;
    margin-bottom: 0.75rem;
}
.video-description {
    line-height: 1.5rem;
    margin-bottom: 0.75rem;
}
.show-time {
    color: var(--primary-color);
}
.fa-clock {
    color: var(--primary-color);
    margin-right: 0.5rem;
}

/* HOSTS SECTION RELATED STYLE */ 

.host-section {
    background-color: var(--bg-color);
    padding-bottom: 120px;
    text-align: center;
}
.section-title {
    font-size: var(--other-heading-size);
    font-weight: bold;
    margin-bottom: 2.5rem;
}
.host-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    background-color: var(--card-bg-color);
    padding: 2.5rem;
    border-radius: 2.5rem;
    text-align: left;
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}
.host-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.host-description {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

/* FOOTER SECTION RELATED STYLE  */

.footer-section {
    background-image: url('../assets/footer-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 7.5rem;
    text-align: center;
}
.footer-section img {
    margin-bottom: 2rem; 
}
.footer-section ul {
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}
.footer-section ul li {
    font-weight: 500;
    margin-bottom: 2rem;
}
.fa-podcast,.fa-youtube, .fa-twitter {
    margin-right: 0.5rem;
    gap: 3rem;
}
.footer-hori-row {
    width: 520px;
    margin: 0 auto;
    border: 1px solid #78788528;
}
.copy-right-text {
    margin-top: 1.25rem;
}







/* RESPONSIVE DESIGN FOR SMALL DEVICE */

@media screen and (max-width: 576px) {

    /* RESPONSIVE NAVBAR SECTION FOR SMALL DEVICE  */

    .header-section {
        padding-block: 1.25rem;
    }
    .navbar {
        width: 95%;
    }
    .nav-logo img {
        width: 8.5625rem;
    }
    .main-menu {
        display: none;
    }
    .navbar .nav-btn {
        display: none;
    }
    .navbar .hamburger-icon {
        display: inline;
    }
    .fa-bars {
        font-size: 1.5rem;
    }

    /* RESPONSIVE BANNER SECTION FOR SMALL DEVICE  */

    .banner-container {
        padding-block: 2.5rem;
    }
    .circle-img>img {
        width: 55%;
    }
    .mic-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
    .badge-text {
        top: 3%;
        left: 63%;
    }
    .banner-title {
        font-size: 2.5rem;
        font-weight: 800;
    }

    /* RESPONSIVE ABOUT SECTION FOR SMALL DEVICE */

    .about-container {
        width: 95%;
    }
    .about-title {
        font-size: 2rem;
        padding-top: 2.5rem;
        margin-bottom: 1rem;
    }
    .about-description {
        padding-inline: 0px;
        margin-bottom: 2.5rem;
    }
    .horizontal-row {
        color: #ffffff94;
    }
    .counter-container {
        padding-block: 2.5rem;
        flex-wrap: wrap;
        gap: 2.5rem;
        justify-content: space-around;
    }
    .counter-title {
        font-size: 2.5rem;
    }

    /* RESPONSIVE TECH WAVE SECTION FOR SMALL DEVICE */

    .techwave-section {
        padding-block: 2.5rem;
    }
    .techwave-container {
        width: 95%;
    }
    .techwave-title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .card-container {
        grid-template-columns: 1fr;
    }
    .card {
        justify-content: center;
        padding: 1.5rem;
    }
    .audio {
        grid-row: auto;
    }
    .mobile {
        grid-column: auto;
        padding: 1.5rem;
    }
    .global {
        grid-column: auto;
        padding: 1.5rem;
    }
    .interview {
        grid-column: auto;
    }

    /* RESPONSIVE FEATURE SECTION FOR SMALL DEVICE */

    .feature-section {
        padding-block: 2.5rem;
    }
    .feature-container {
        width: 95%;
    }
    .feature-title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .video-card {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

    /* RESPONSIVE HOST SECTION FOR SMALL DEVICE */

    .host-section{
         padding-block: 2.5rem;
    }
    .section-title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .host-container {
        width:95%;
        flex-direction: column;
        padding: 1.5rem;
    }
    .host-container>img {
        margin-bottom: 1rem;
    }
    .host-content-container {
        text-align: center;
    }
    .host-title {
        font-size: 1.5rem;
    }

    /* RESPONSIVE HOST SECTION FOR SMALL DEVICE */

    .footer-section {
        padding: 2.5rem;
    }
    .footer-content>img {
        width: 10rem;
    }
    .footer-content ul {
        flex-wrap: wrap;
    }
    .fa-podcast,.fa-youtube, .fa-twitter {
        margin-right: 0.5rem;
        gap: 1rem;
    }
    .footer-hori-row {
        width: 100%;
        margin: 0 auto;
        border: 1px solid #78788528;
}

}
